In [180]:
import nsepython as nse
import pandas as pd
from datetime import datetime, timedelta
import numpy as np
import math

In [206]:
Underlying = "TCS"
Index = "NIFTY 50"
#ref_date = datetime.now()
ref_date = datetime.strptime('31-03-2012', "%d-%m-%Y")
today = ref_date.strftime("%d-%m-%Y")
oneYearAgo = (ref_date-timedelta(days=365)).strftime("%d-%m-%Y")
oneYear3MonthsAgo = (ref_date-timedelta(days=455)).strftime("%d-%m-%Y")
today_mmm = ref_date.strftime("%d-%b-%Y")
oneYearAgo_mmm = (ref_date-timedelta(days=365)).strftime("%d-%b-%Y")
oneYear3MonthsAgo_mmm = (ref_date-timedelta(days=455)).strftime("%d-%b-%Y")

In [207]:
today,oneYearAgo, oneYear3MonthsAgo_mmm

('31-03-2012', '01-04-2011', '01-Jan-2011')

In [208]:
expiry_dates = nse.expiry_history(Underlying, oneYear3MonthsAgo, today)
expiry_dates[:10]

['27-Jan-2011',
 '24-Feb-2011',
 '31-Mar-2011',
 '28-Apr-2011',
 '26-May-2011',
 '30-Jun-2011',
 '28-Jul-2011',
 '25-Aug-2011',
 '29-Sep-2011',
 '25-Oct-2011']

In [212]:
candle = nse.index_history("NIFTY 50", oneYear3MonthsAgo_mmm, today_mmm)
#candle
tcscandle = nse.equity_history(Underlying,"EQ",oneYear3MonthsAgo ,today)
tcscandle

d:\workspace\programmer\timepass\venv\lib\site-packages\nsepython\rahu.py:599: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total = pd.concat([total, equity_history_virgin(symbol, series, start_date, temp_date)])

,_id,CH_SYMBOL,CH_SERIES,CH_MARKET_TYPE,CH_TRADE_HIGH_PRICE,CH_TRADE_LOW_PRICE,CH_OPENING_PRICE,CH_CLOSING_PRICE,CH_LAST_TRADED_PRICE,CH_PREVIOUS_CLS_PRICE,...,CH_ISIN,CH_TIMESTAMP,TIMESTAMP,createdAt,updatedAt,__v,SLBMH_TOT_VAL,VWAP,mTIMESTAMP,CA
0,641f0092adde0b0007d0bea1,TCS,EQ,N,1180.00,1158.00,1169.95,1169.55,1163.60,1163.70,...,INE467B01029,2012-03-16,2012-03-15T18:30:00.000Z,2023-03-25T14:09:22.889Z,2023-03-25T14:09:22.889Z,0,None,1171.59,16-Mar-2012,NaN
1,641ef8babe69c00007c464e7,TCS,EQ,N,1169.55,1111.80,1169.55,1122.00,1124.75,1169.55,...,INE467B01029,2012-03-19,2012-03-18T18:30:00.000Z,2023-03-25T13:35:54.578Z,2023-03-25T13:35:54.578Z,0,None,1125.12,19-Mar-2012,NaN
2,641ef7a931da230007922810,TCS,EQ,N,1145.00,1120.00,1129.00,1134.85,1133.70,1122.00,...,INE467B01029,2012-03-20,2012-03-19T18:30:00.000Z,2023-03-25T13:31:21.036Z,2023-03-25T13:31:21.036Z,0,None,1136.90,20-Mar-2012,NaN
3,641efd4355d8040007c18d69,TCS,EQ,N,1179.80,1136.55,1136.95,1175.75,1173.95,1134.85,...,INE467B01029,2012-03-21,2012-03-20T18:30:00.000Z,2023-03-25T13:55:15.615Z,2023-03-25T13:55:15.615Z,0,None,1168.03,21-Mar-2012,NaN
4,641efd394334450007b6dfdb,TCS,EQ,N,1189.70,1160.00,1174.70,1167.75,1167.20,1175.75,...,INE467B01029,2012-03-22,2012-03-21T18:30:00.000Z,2023-03-25T13:55:05.022Z,2023-03-25T13:55:05.022Z,0,None,1175.59,22-Mar-2012,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,641ef20f2405c50007984e61,TCS,EQ,N,1183.10,1140.25,1176.00,1148.80,1154.35,1183.70,...,,2011-02-04,2011-02-03T18:30:00.000Z,2023-03-25T13:07:27.098Z,2023-03-25T13:07:27.098Z,0,None,1155.87,04-Feb-2011,NaN
315,641ef1276e7d520007c7f95f,TCS,EQ,N,1173.50,1126.50,1173.50,1131.15,1131.45,1148.80,...,,2011-02-07,2011-02-06T18:30:00.000Z,2023-03-25T13:03:35.398Z,2023-03-25T13:03:35.398Z,0,None,1143.35,07-Feb-2011,NaN
316,641ef41c713bb70007c9a9a3,TCS,EQ,N,1149.90,1118.50,1132.00,1125.10,1125.30,1131.15,...,,2011-02-08,2011-02-07T18:30:00.000Z,2023-03-25T13:16:12.763Z,2023-03-25T13:16:12.763Z,0,None,1134.56,08-Feb-2011,NaN
317,641ef1e70125d8000747b92a,TCS,EQ,N,1129.60,1083.70,1122.50,1098.30,1107.00,1125.10,...,,2011-02-09,2011-02-08T18:30:00.000Z,2023-03-25T13:06:47.276Z,2023-03-25T13:06:47.276Z,0,None,1111.00,09-Feb-2011,NaN
318,641eee27d72c3f00075547ce,TCS,EQ,N,1114.50,1072.00,1100.00,1090.75,1095.00,1098.30,...,,2011-02-10,2011-02-09T18:30:00.000Z,2023-03-25T12:50:47.153Z,2023-03-25T12:50:47.153Z,0,None,1086.93,10-Feb-2011,NaN

In [288]:
candle["HistoricalDate"] = pd.to_datetime(candle["HistoricalDate"])
candle.CLOSE = candle.CLOSE.astype(float)
candle.sort_values(by='HistoricalDate', ascending = True, inplace = True)
candle.set_index('HistoricalDate')
candle['dailyret'] = np.log(candle.CLOSE/candle.CLOSE.shift(1))
candle


tcscandle["TIMESTAMP"] = pd.to_datetime(tcscandle["TIMESTAMP"])
tcscandle.sort_values(by='TIMESTAMP', ascending = True, inplace = True)
tcscandle['dailyret'] = (np.log(tcscandle.CH_CLOSING_PRICE/tcscandle.CH_CLOSING_PRICE.shift(1)))

In [305]:
selected_expiry = expiry_dates[9]
tenDayPriorexpiry = (datetime.strptime(selected_expiry, '%d-%b-%Y')-timedelta(days=10)).strftime("%d-%b-%Y")
#selectwindow = (candle['HistoricalDate'] > tenDayPriorexpiry) & (candle['HistoricalDate'] <= selected_expiry)
#selected_expiry, tenDayPriorexpiry
selected_expiry

'25-Oct-2011'

In [306]:
#window = candle.loc[selectwindow]
window = candle[candle['HistoricalDate'] <= selected_expiry].tail(10)
window_dailyret = window.dailyret
window

tcswindow = tcscandle[tcscandle['TIMESTAMP'] <= selected_expiry].tail(10)
tcswindow

,_id,CH_SYMBOL,CH_SERIES,CH_MARKET_TYPE,CH_TRADE_HIGH_PRICE,CH_TRADE_LOW_PRICE,CH_OPENING_PRICE,CH_CLOSING_PRICE,CH_LAST_TRADED_PRICE,CH_PREVIOUS_CLS_PRICE,...,CH_TIMESTAMP,TIMESTAMP,createdAt,updatedAt,__v,SLBMH_TOT_VAL,VWAP,mTIMESTAMP,CA,dailyret
99,641ef1b3adde0b0007d04eb9,TCS,EQ,N,1089.40,1062.00,1066.0,1079.05,1077.50,1040.85,...,2011-10-12,2011-10-11 18:30:00+00:00,2023-03-25T13:05:55.928Z,2023-03-25T13:05:55.928Z,0,None,1077.13,12-Oct-2011,NaN,0.036043
100,641ef048713bb70007c98ec7,TCS,EQ,N,1104.95,1080.10,1096.5,1092.75,1089.40,1079.05,...,2011-10-13,2011-10-12 18:30:00+00:00,2023-03-25T12:59:52.298Z,2023-03-25T12:59:52.298Z,0,None,1092.56,13-Oct-2011,NaN,0.012616
101,641ef1d25510ab0007ee6ec0,TCS,EQ,N,1140.75,1088.90,1089.4,1134.25,1135.05,1092.75,...,2011-10-14,2011-10-13 18:30:00+00:00,2023-03-25T13:06:26.539Z,2023-03-25T13:06:26.539Z,0,None,1118.88,14-Oct-2011,NaN,0.037274
102,641eef4d3d38840007c6f822,TCS,EQ,N,1154.00,1111.30,1151.5,1120.25,1124.95,1134.25,...,2011-10-17,2011-10-16 18:30:00+00:00,2023-03-25T12:55:41.153Z,2023-03-25T12:55:41.153Z,0,None,1128.16,17-Oct-2011,NaN,-0.012420
103,641ef5054438f60007b64a76,TCS,EQ,N,1064.25,1020.50,1062.0,1033.55,1037.00,1120.25,...,2011-10-18,2011-10-17 18:30:00+00:00,2023-03-25T13:20:05.076Z,2023-03-25T13:20:05.076Z,0,None,1035.10,18-Oct-2011,NaN,-0.080552
104,641eee793d38840007c6f0cc,TCS,EQ,N,1054.40,1035.20,1043.0,1048.95,1046.00,1033.55,...,2011-10-19,2011-10-18 18:30:00+00:00,2023-03-25T12:52:09.150Z,2023-03-25T12:52:09.150Z,0,None,1045.07,19-Oct-2011,NaN,0.014790
105,641eef882405c500079838ee,TCS,EQ,N,1047.00,1030.30,1036.0,1044.90,1044.50,1048.95,...,2011-10-20,2011-10-19 18:30:00+00:00,2023-03-25T12:56:40.829Z,2023-03-25T12:56:40.829Z,0,None,1040.42,20-Oct-2011,NaN,-0.003868
106,641eef7e4708d5000725bebb,TCS,EQ,N,1060.00,1043.00,1054.9,1049.85,1051.00,1044.90,...,2011-10-21,2011-10-20 18:30:00+00:00,2023-03-25T12:56:30.399Z,2023-03-25T12:56:30.399Z,0,None,1051.98,21-Oct-2011,NaN,0.004726
107,641eee46341dfa0007d18e9a,TCS,EQ,N,1092.30,1059.50,1060.0,1079.75,1077.00,1049.85,...,2011-10-24,2011-10-23 18:30:00+00:00,2023-03-25T12:51:18.568Z,2023-03-25T12:51:18.568Z,0,None,1081.78,24-Oct-2011,NaN,0.028082
108,641ef4275510ab0007ee8976,TCS,EQ,N,1107.00,1071.45,1089.0,1098.65,1103.35,1079.75,...,2011-10-25,2011-10-24 18:30:00+00:00,2023-03-25T13:16:23.033Z,2023-03-25T13:16:23.033Z,0,None,1090.49,25-Oct-2011,"[{'symbol': 'TCS', 'series': 'EQ', 'ind': '-',...",0.017353

In [307]:
window_volatility_pct = window.dailyret.std()
ann_window_vol_pct = window_volatility_pct * math.sqrt(252)
#window_volatility_pct, ann_window_vol_pct

In [308]:
tcs_window_volatility_pct = tcswindow.dailyret.std()
tcs_ann_window_vol_pct = tcs_window_volatility_pct * math.sqrt(252)
selected_expiry, tcs_window_volatility_pct, tcs_ann_window_vol_pct

('25-Oct-2011',
 np.float64(0.03422847460769664),
 np.float64(0.5433601894143266))

In [309]:
candle['Realized Volatility'] = candle['dailyret'].rolling(window=10).std() * np.sqrt(252)

In [299]:
window = candle[candle['HistoricalDate'] <= selected_expiry].tail(90)

In [300]:
window

,RequestNumber,Index Name,INDEX_NAME,HistoricalDate,OPEN,HIGH,LOW,CLOSE,dailyret,Realized Volatility
276,His63873467633285354900,,Nifty 50,2011-02-21,5456.60,5526.25,5413.10,5518.60,0.010868,0.228591
275,His63873467633285354900,,Nifty 50,2011-02-22,5504.40,5519.45,5437.30,5469.20,-0.008992,0.216251
274,His63873467633285354900,,Nifty 50,2011-02-23,5452.45,5495.20,5427.55,5437.35,-0.005841,0.208040
273,His63873467633285354900,,Nifty 50,2011-02-24,5408.75,5423.40,5242.50,5262.70,-0.032648,0.274795
272,His63873467633285354900,,Nifty 50,2011-02-25,5321.05,5338.20,5232.75,5303.55,0.007732,0.264891
...,...,...,...,...,...,...,...,...,...,...
191,His63873467633285354900,,Nifty 50,2011-06-24,5343.40,5477.85,5343.40,5471.25,0.028034,0.204939
190,His63873467633285354900,,Nifty 50,2011-06-27,5441.20,5552.65,5434.25,5526.60,0.010066,0.211355
189,His63873467633285354900,,Nifty 50,2011-06-28,5548.85,5558.30,5496.35,5545.30,0.003378,0.211406
188,His63873467633285354900,,Nifty 50,2011-06-29,5566.50,5608.65,5566.50,5600.45,0.009896,0.206996
187,His63873467633285354900,,Nifty 50,2011-06-30,5614.50,5657.90,5606.10,5647.40,0.008348,0.196778