In [1]:
import nsepython as nse
import pandas as pd
from datetime import datetime, timedelta
import numpy as np
import math

In [2]:
Underlying = "wipro"
Index = "NIFTY 50"
ref_date = datetime.now()
#ref_date = datetime.strptime('31-03-2012', "%d-%m-%Y")

In [3]:
today = ref_date.strftime("%d-%m-%Y")
oneYearAgo = (ref_date-timedelta(days=365)).strftime("%d-%m-%Y")
oneYear3MonthsAgo = (ref_date-timedelta(days=455)).strftime("%d-%m-%Y")
today_mmm = ref_date.strftime("%d-%b-%Y")
oneYearAgo_mmm = (ref_date-timedelta(days=365)).strftime("%d-%b-%Y")
oneYear3MonthsAgo_mmm = (ref_date-timedelta(days=455)).strftime("%d-%b-%Y")

In [4]:
today,oneYearAgo, oneYear3MonthsAgo_mmm

('12-02-2025', '13-02-2024', '15-Nov-2023')

In [5]:
expiry_dates = nse.expiry_history(Underlying, oneYear3MonthsAgo, today)
expiry_dates[:10]

['30-Jan-2025', '27-Feb-2025']

In [8]:
candle = nse.index_history("NIFTY 50", oneYear3MonthsAgo_mmm, today_mmm)
candle

,RequestNumber,Index Name,INDEX_NAME,HistoricalDate,OPEN,HIGH,LOW,CLOSE
0,His63874989997316374700,,Nifty 50,12 Feb 2025,23050.8,23144.7,22798.35,23045.25
1,His63874989997316374700,,Nifty 50,11 Feb 2025,23383.55,23390.05,22986.65,23071.80
2,His63874989997316374700,,Nifty 50,10 Feb 2025,23543.8,23568.6,23316.3,23381.60
3,His63874989997316374700,,Nifty 50,07 Feb 2025,23649.5,23694.5,23443.2,23559.95
4,His63874989997316374700,,Nifty 50,06 Feb 2025,23761.95,23773.55,23556.25,23603.35
...,...,...,...,...,...,...,...,...
307,His63874989997316374700,,Nifty 50,21 Nov 2023,19770.90,19829.10,19754.05,19783.40
308,His63874989997316374700,,Nifty 50,20 Nov 2023,19731.15,19756.45,19670.50,19694.00
309,His63874989997316374700,,Nifty 50,17 Nov 2023,19674.75,19806.00,19667.45,19731.80
310,His63874989997316374700,,Nifty 50,16 Nov 2023,19674.70,19875.25,19627.00,19765.20
311,His63874989997316374700,,Nifty 50,15 Nov 2023,19651.40,19693.20,19579.65,19675.45

In [9]:

tcscandle = nse.equity_history(Underlying,"EQ",oneYear3MonthsAgo ,today)
tcscandle["TIMESTAMP"] = pd.to_datetime(tcscandle["TIMESTAMP"])
tcscandle.sort_values(by='TIMESTAMP', ascending = True, inplace = True)
tcscandle

,_id,CH_SYMBOL,CH_SERIES,CH_MARKET_TYPE,CH_TRADE_HIGH_PRICE,CH_TRADE_LOW_PRICE,CH_OPENING_PRICE,CH_CLOSING_PRICE,CH_LAST_TRADED_PRICE,CH_PREVIOUS_CLS_PRICE,...,CH_TOTAL_TRADES,CH_ISIN,CH_TIMESTAMP,TIMESTAMP,createdAt,updatedAt,__v,SLBMH_TOT_VAL,VWAP,mTIMESTAMP
292,6554b2ddebf43376cfba2a9f,WIPRO,EQ,N,392.25,384.25,385.55,391.65,391.45,381.65,...,125802,INE075A01022,2023-11-15,2023-11-14 18:30:00+00:00,2023-11-15T12:00:29.368Z,2023-11-15T12:00:29.368Z,0,None,389.52,15-Nov-2023
293,6556047efe9d8625499d3427,WIPRO,EQ,N,399.50,389.30,391.65,397.10,396.75,391.65,...,124565,INE075A01022,2023-11-16,2023-11-15 18:30:00+00:00,2023-11-16T12:01:02.649Z,2023-11-16T12:01:02.649Z,0,None,395.60,16-Nov-2023
294,655755fdba15dff83b493b29,WIPRO,EQ,N,399.00,394.50,398.00,395.40,394.90,397.10,...,84552,INE075A01022,2023-11-17,2023-11-16 18:30:00+00:00,2023-11-17T12:01:01.921Z,2023-11-17T12:01:01.921Z,0,None,396.56,17-Nov-2023
295,655b4a7e7fbd5396f62257d0,WIPRO,EQ,N,401.10,393.20,393.20,400.20,400.15,395.40,...,85321,INE075A01022,2023-11-20,2023-11-19 18:30:00+00:00,2023-11-20T12:01:02.362Z,2023-11-20T12:01:02.362Z,0,None,399.28,20-Nov-2023
296,655c9bfde0f7393b3a788de6,WIPRO,EQ,N,402.60,400.05,402.60,400.65,400.55,400.20,...,72441,INE075A01022,2023-11-21,2023-11-20 18:30:00+00:00,2023-11-21T12:01:01.942Z,2023-11-21T12:01:01.942Z,0,None,401.10,21-Nov-2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,67a4a47ff0c08fbfa1941ed8,WIPRO,EQ,N,323.60,314.55,320.00,317.95,317.30,317.10,...,108568,INE075A01022,2025-02-06,2025-02-05 18:30:00+00:00,2025-02-06T12:01:03.334Z,2025-02-06T12:01:03.334Z,0,None,318.05,06-Feb-2025
9,67a5f5fe9f0acd251c73ee32,WIPRO,EQ,N,319.00,314.00,319.00,318.00,317.00,317.95,...,72987,INE075A01022,2025-02-07,2025-02-06 18:30:00+00:00,2025-02-07T12:01:02.949Z,2025-02-07T12:01:02.949Z,0,None,317.33,07-Feb-2025
10,67a9ea7f15b873eaf99544e7,WIPRO,EQ,N,321.00,315.85,318.80,319.05,319.00,318.00,...,108216,INE075A01022,2025-02-10,2025-02-09 18:30:00+00:00,2025-02-10T12:01:03.201Z,2025-02-10T12:01:03.201Z,0,None,318.97,10-Feb-2025
11,67ab3bff85f54dccaefe0de0,WIPRO,EQ,N,320.40,311.60,319.50,313.00,312.75,319.05,...,109307,INE075A01022,2025-02-11,2025-02-10 18:30:00+00:00,2025-02-11T12:01:03.244Z,2025-02-11T12:01:03.244Z,0,None,314.52,11-Feb-2025
12,67ac8d7eb6348ac3a2cec959,WIPRO,EQ,N,315.75,309.35,313.45,310.20,310.05,313.00,...,125445,INE075A01022,2025-02-12,2025-02-11 18:30:00+00:00,2025-02-12T12:01:02.568Z,2025-02-12T12:01:02.568Z,0,None,311.56,12-Feb-2025

In [ ]:
candle["HistoricalDate"] = pd.to_datetime(candle["HistoricalDate"])
candle.CLOSE = candle.CLOSE.astype(float)
candle.sort_values(by='HistoricalDate', ascending = True, inplace = True)
candle.set_index('HistoricalDate')
candle['dailyret'] = np.log(candle.CLOSE/candle.CLOSE.shift(1))
candle


tcscandle["TIMESTAMP"] = pd.to_datetime(tcscandle["TIMESTAMP"])
tcscandle.sort_values(by='TIMESTAMP', ascending = True, inplace = True)
tcscandle['dailyret'] = (np.log(tcscandle.CH_CLOSING_PRICE/tcscandle.CH_CLOSING_PRICE.shift(1)))

In [ ]:
selected_expiry = expiry_dates[9]
tenDayPriorexpiry = (datetime.strptime(selected_expiry, '%d-%b-%Y')-timedelta(days=10)).strftime("%d-%b-%Y")
#selectwindow = (candle['HistoricalDate'] > tenDayPriorexpiry) & (candle['HistoricalDate'] <= selected_expiry)
#selected_expiry, tenDayPriorexpiry
selected_expiry

In [ ]:
#window = candle.loc[selectwindow]
window = candle[candle['HistoricalDate'] <= selected_expiry].tail(10)
window_dailyret = window.dailyret
window

tcswindow = tcscandle[tcscandle['TIMESTAMP'] <= selected_expiry].tail(10)
tcswindow

In [ ]:
window_volatility_pct = window.dailyret.std()
ann_window_vol_pct = window_volatility_pct * math.sqrt(252)
#window_volatility_pct, ann_window_vol_pct

In [ ]:
type(window_volatility_pct)

In [ ]:
tcs_window_volatility_pct = tcswindow.dailyret.std()
tcs_ann_window_vol_pct = tcs_window_volatility_pct * math.sqrt(252)
selected_expiry, tcs_window_volatility_pct, tcs_ann_window_vol_pct

In [ ]:
candle['Realized Volatility'] = candle['dailyret'].rolling(window=10).std() * np.sqrt(252)

In [ ]:
window = candle[candle['HistoricalDate'] <= selected_expiry].tail(90)

In [ ]:
window