In [180]:
import nsepython as nse
import pandas as pd
from datetime import datetime, timedelta
import numpy as np
import math

In [181]:
Underlying = "NIFTY"
Index = "NIFTY 50"
#ref_date = datetime.now()
ref_date = datetime.strptime('28-02-2012', "%d-%m-%Y")
today = ref_date.strftime("%d-%m-%Y")
oneYearAgo = (ref_date-timedelta(days=365)).strftime("%d-%m-%Y")
oneYear3MonthsAgo = (ref_date-timedelta(days=455)).strftime("%d-%m-%Y")
today_mmm = ref_date.strftime("%d-%b-%Y")
oneYearAgo_mmm = (ref_date-timedelta(days=365)).strftime("%d-%b-%Y")
oneYear3MonthsAgo_mmm = (ref_date-timedelta(days=455)).strftime("%d-%b-%Y")

In [182]:
today,oneYearAgo, oneYear3MonthsAgo_mmm

('28-02-2012', '28-02-2011', '30-Nov-2010')

In [183]:
expiry_dates = nse.expiry_history(Underlying, oneYear3MonthsAgo, today)
expiry_dates[:10]

['30-Dec-2010',
 '27-Jan-2011',
 '24-Feb-2011',
 '31-Mar-2011',
 '28-Apr-2011',
 '26-May-2011',
 '30-Jun-2011',
 '28-Jul-2011',
 '25-Aug-2011',
 '29-Sep-2011']

In [184]:
candle = nse.index_history("NIFTY 50", oneYear3MonthsAgo_mmm, today_mmm)
candle

,RequestNumber,Index Name,INDEX_NAME,HistoricalDate,OPEN,HIGH,LOW,CLOSE
0,His63873440868386652400,,Nifty 50,28 Feb 2012,5310.50,5391.10,5306.45,5375.50
1,His63873440868386652400,,Nifty 50,27 Feb 2012,5448.10,5449.80,5268.15,5281.20
2,His63873440868386652400,,Nifty 50,24 Feb 2012,5479.15,5521.40,5405.90,5429.30
3,His63873440868386652400,,Nifty 50,23 Feb 2012,5490.05,5537.40,5460.80,5483.30
4,His63873440868386652400,,Nifty 50,22 Feb 2012,5609.75,5629.95,5491.35,5505.35
...,...,...,...,...,...,...,...,...
306,His63873440868386652400,,Nifty 50,06 Dec 2010,6033.65,6069.45,5981.70,5992.25
307,His63873440868386652400,,Nifty 50,03 Dec 2010,6013.35,6025.40,5964.25,5992.80
308,His63873440868386652400,,Nifty 50,02 Dec 2010,6023.05,6029.50,5980.60,6011.70
309,His63873440868386652400,,Nifty 50,01 Dec 2010,5871.00,5971.00,5865.55,5960.90
310,His63873440868386652400,,Nifty 50,30 Nov 2010,5811.60,5892.25,5768.35,5862.70

In [185]:
candle["HistoricalDate"] = pd.to_datetime(candle["HistoricalDate"])
candle.CLOSE = candle.CLOSE.astype(float)
candle.sort_values(by='HistoricalDate', ascending = True, inplace = True)
candle.set_index('HistoricalDate')
candle['dailyret'] = np.log(candle.CLOSE/candle.CLOSE.shift(1))
candle

,RequestNumber,Index Name,INDEX_NAME,HistoricalDate,OPEN,HIGH,LOW,CLOSE,dailyret
310,His63873440868386652400,,Nifty 50,2010-11-30,5811.60,5892.25,5768.35,5862.70,NaN
309,His63873440868386652400,,Nifty 50,2010-12-01,5871.00,5971.00,5865.55,5960.90,0.016611
308,His63873440868386652400,,Nifty 50,2010-12-02,6023.05,6029.50,5980.60,6011.70,0.008486
307,His63873440868386652400,,Nifty 50,2010-12-03,6013.35,6025.40,5964.25,5992.80,-0.003149
306,His63873440868386652400,,Nifty 50,2010-12-06,6033.65,6069.45,5981.70,5992.25,-0.000092
...,...,...,...,...,...,...,...,...,...
4,His63873440868386652400,,Nifty 50,2012-02-22,5609.75,5629.95,5491.35,5505.35,-0.018322
3,His63873440868386652400,,Nifty 50,2012-02-23,5490.05,5537.40,5460.80,5483.30,-0.004013
2,His63873440868386652400,,Nifty 50,2012-02-24,5479.15,5521.40,5405.90,5429.30,-0.009897
1,His63873440868386652400,,Nifty 50,2012-02-27,5448.10,5449.80,5268.15,5281.20,-0.027657
0,His63873440868386652400,,Nifty 50,2012-02-28,5310.50,5391.10,5306.45,5375.50,0.017698

In [193]:
selected_expiry = expiry_dates[2]
tenDayPriorexpiry = (datetime.strptime(selected_expiry, '%d-%b-%Y')-timedelta(days=10)).strftime("%d-%b-%Y")
#selectwindow = (candle['HistoricalDate'] > tenDayPriorexpiry) & (candle['HistoricalDate'] <= selected_expiry)
#selected_expiry, tenDayPriorexpiry
selected_expiry

'24-Feb-2011'

In [194]:
#window = candle.loc[selectwindow]
window = candle[candle['HistoricalDate'] <= selected_expiry].tail(10)
window_dailyret = window.dailyret
window

,RequestNumber,Index Name,INDEX_NAME,HistoricalDate,OPEN,HIGH,LOW,CLOSE,dailyret,Realized Volatility
259,His63873440868386652400,,Nifty 50,2011-02-11,5219.65,5319.45,5177.70,5310.00,0.015984,0.215499
258,His63873440868386652400,,Nifty 50,2011-02-14,5340.25,5463.80,5340.25,5456.00,0.027124,0.265858
257,His63873440868386652400,,Nifty 50,2011-02-15,5467.75,5506.50,5408.35,5481.00,0.004572,0.252444
256,His63873440868386652400,,Nifty 50,2011-02-16,5467.60,5504.80,5460.35,5481.70,0.000128,0.252333
255,His63873440868386652400,,Nifty 50,2011-02-17,5501.70,5553.00,5463.40,5546.45,0.011743,0.243632
254,His63873440868386652400,,Nifty 50,2011-02-18,5557.55,5599.25,5441.95,5458.95,-0.015902,0.223563
253,His63873440868386652400,,Nifty 50,2011-02-21,5456.60,5526.25,5413.10,5518.60,0.010868,0.228591
252,His63873440868386652400,,Nifty 50,2011-02-22,5504.40,5519.45,5437.30,5469.20,-0.008992,0.216251
251,His63873440868386652400,,Nifty 50,2011-02-23,5452.45,5495.20,5427.55,5437.35,-0.005841,0.208040
250,His63873440868386652400,,Nifty 50,2011-02-24,5408.75,5423.40,5242.50,5262.70,-0.032648,0.274795

In [195]:
window_volatility_pct = window.dailyret.std()
ann_window_vol_pct = window_volatility_pct * math.sqrt(365)

In [196]:
window_volatility_pct, ann_window_vol_pct

(np.float64(0.017310440381055003), np.float64(0.33071549911957826))

In [197]:
candle['Realized Volatility'] = candle['dailyret'].rolling(window=10).std() * np.sqrt(252)

In [198]:
window = candle[candle['HistoricalDate'] <= selected_expiry].tail(10)

In [199]:
window

,RequestNumber,Index Name,INDEX_NAME,HistoricalDate,OPEN,HIGH,LOW,CLOSE,dailyret,Realized Volatility
259,His63873440868386652400,,Nifty 50,2011-02-11,5219.65,5319.45,5177.70,5310.00,0.015984,0.215499
258,His63873440868386652400,,Nifty 50,2011-02-14,5340.25,5463.80,5340.25,5456.00,0.027124,0.265858
257,His63873440868386652400,,Nifty 50,2011-02-15,5467.75,5506.50,5408.35,5481.00,0.004572,0.252444
256,His63873440868386652400,,Nifty 50,2011-02-16,5467.60,5504.80,5460.35,5481.70,0.000128,0.252333
255,His63873440868386652400,,Nifty 50,2011-02-17,5501.70,5553.00,5463.40,5546.45,0.011743,0.243632
254,His63873440868386652400,,Nifty 50,2011-02-18,5557.55,5599.25,5441.95,5458.95,-0.015902,0.223563
253,His63873440868386652400,,Nifty 50,2011-02-21,5456.60,5526.25,5413.10,5518.60,0.010868,0.228591
252,His63873440868386652400,,Nifty 50,2011-02-22,5504.40,5519.45,5437.30,5469.20,-0.008992,0.216251
251,His63873440868386652400,,Nifty 50,2011-02-23,5452.45,5495.20,5427.55,5437.35,-0.005841,0.208040
250,His63873440868386652400,,Nifty 50,2011-02-24,5408.75,5423.40,5242.50,5262.70,-0.032648,0.274795