In [180]:
import nsepython as nse
import pandas as pd
from datetime import datetime, timedelta
import numpy as np
import math

In [206]:
Underlying = "TCS"
Index = "NIFTY 50"
#ref_date = datetime.now()
ref_date = datetime.strptime('31-03-2012', "%d-%m-%Y")
today = ref_date.strftime("%d-%m-%Y")
oneYearAgo = (ref_date-timedelta(days=365)).strftime("%d-%m-%Y")
oneYear3MonthsAgo = (ref_date-timedelta(days=455)).strftime("%d-%m-%Y")
today_mmm = ref_date.strftime("%d-%b-%Y")
oneYearAgo_mmm = (ref_date-timedelta(days=365)).strftime("%d-%b-%Y")
oneYear3MonthsAgo_mmm = (ref_date-timedelta(days=455)).strftime("%d-%b-%Y")

In [207]:
today,oneYearAgo, oneYear3MonthsAgo_mmm

('31-03-2012', '01-04-2011', '01-Jan-2011')

In [208]:
expiry_dates = nse.expiry_history(Underlying, oneYear3MonthsAgo, today)
expiry_dates[:10]

['27-Jan-2011',
 '24-Feb-2011',
 '31-Mar-2011',
 '28-Apr-2011',
 '26-May-2011',
 '30-Jun-2011',
 '28-Jul-2011',
 '25-Aug-2011',
 '29-Sep-2011',
 '25-Oct-2011']

In [212]:
candle = nse.index_history("NIFTY 50", oneYear3MonthsAgo_mmm, today_mmm)
#candle
tcscandle = nse.equity_history(Underlying,"EQ",oneYear3MonthsAgo ,today)
tcscandle

d:\workspace\programmer\timepass\venv\lib\site-packages\nsepython\rahu.py:599: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total = pd.concat([total, equity_history_virgin(symbol, series, start_date, temp_date)])

,_id,CH_SYMBOL,CH_SERIES,CH_MARKET_TYPE,CH_TRADE_HIGH_PRICE,CH_TRADE_LOW_PRICE,CH_OPENING_PRICE,CH_CLOSING_PRICE,CH_LAST_TRADED_PRICE,CH_PREVIOUS_CLS_PRICE,...,CH_ISIN,CH_TIMESTAMP,TIMESTAMP,createdAt,updatedAt,__v,SLBMH_TOT_VAL,VWAP,mTIMESTAMP,CA
0,641f0092adde0b0007d0bea1,TCS,EQ,N,1180.00,1158.00,1169.95,1169.55,1163.60,1163.70,...,INE467B01029,2012-03-16,2012-03-15T18:30:00.000Z,2023-03-25T14:09:22.889Z,2023-03-25T14:09:22.889Z,0,None,1171.59,16-Mar-2012,NaN
1,641ef8babe69c00007c464e7,TCS,EQ,N,1169.55,1111.80,1169.55,1122.00,1124.75,1169.55,...,INE467B01029,2012-03-19,2012-03-18T18:30:00.000Z,2023-03-25T13:35:54.578Z,2023-03-25T13:35:54.578Z,0,None,1125.12,19-Mar-2012,NaN
2,641ef7a931da230007922810,TCS,EQ,N,1145.00,1120.00,1129.00,1134.85,1133.70,1122.00,...,INE467B01029,2012-03-20,2012-03-19T18:30:00.000Z,2023-03-25T13:31:21.036Z,2023-03-25T13:31:21.036Z,0,None,1136.90,20-Mar-2012,NaN
3,641efd4355d8040007c18d69,TCS,EQ,N,1179.80,1136.55,1136.95,1175.75,1173.95,1134.85,...,INE467B01029,2012-03-21,2012-03-20T18:30:00.000Z,2023-03-25T13:55:15.615Z,2023-03-25T13:55:15.615Z,0,None,1168.03,21-Mar-2012,NaN
4,641efd394334450007b6dfdb,TCS,EQ,N,1189.70,1160.00,1174.70,1167.75,1167.20,1175.75,...,INE467B01029,2012-03-22,2012-03-21T18:30:00.000Z,2023-03-25T13:55:05.022Z,2023-03-25T13:55:05.022Z,0,None,1175.59,22-Mar-2012,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,641ef20f2405c50007984e61,TCS,EQ,N,1183.10,1140.25,1176.00,1148.80,1154.35,1183.70,...,,2011-02-04,2011-02-03T18:30:00.000Z,2023-03-25T13:07:27.098Z,2023-03-25T13:07:27.098Z,0,None,1155.87,04-Feb-2011,NaN
315,641ef1276e7d520007c7f95f,TCS,EQ,N,1173.50,1126.50,1173.50,1131.15,1131.45,1148.80,...,,2011-02-07,2011-02-06T18:30:00.000Z,2023-03-25T13:03:35.398Z,2023-03-25T13:03:35.398Z,0,None,1143.35,07-Feb-2011,NaN
316,641ef41c713bb70007c9a9a3,TCS,EQ,N,1149.90,1118.50,1132.00,1125.10,1125.30,1131.15,...,,2011-02-08,2011-02-07T18:30:00.000Z,2023-03-25T13:16:12.763Z,2023-03-25T13:16:12.763Z,0,None,1134.56,08-Feb-2011,NaN
317,641ef1e70125d8000747b92a,TCS,EQ,N,1129.60,1083.70,1122.50,1098.30,1107.00,1125.10,...,,2011-02-09,2011-02-08T18:30:00.000Z,2023-03-25T13:06:47.276Z,2023-03-25T13:06:47.276Z,0,None,1111.00,09-Feb-2011,NaN
318,641eee27d72c3f00075547ce,TCS,EQ,N,1114.50,1072.00,1100.00,1090.75,1095.00,1098.30,...,,2011-02-10,2011-02-09T18:30:00.000Z,2023-03-25T12:50:47.153Z,2023-03-25T12:50:47.153Z,0,None,1086.93,10-Feb-2011,NaN

In [240]:
candle["HistoricalDate"] = pd.to_datetime(candle["HistoricalDate"])
candle.CLOSE = candle.CLOSE.astype(float)
candle.sort_values(by='HistoricalDate', ascending = True, inplace = True)
candle.set_index('HistoricalDate')
candle['dailyret'] = np.log(candle.CLOSE/candle.CLOSE.shift(1))
candle


tcscandle["TIMESTAMP"] = pd.to_datetime(tcscandle["TIMESTAMP"])
tcscandle.sort_values(by='TIMESTAMP', ascending = True, inplace = True)
tcscandle['dailyret'] = (np.log(tcscandle.CH_CLOSING_PRICE/tcscandle.CH_CLOSING_PRICE.shift(1)))*100

In [274]:
selected_expiry = expiry_dates[2]
tenDayPriorexpiry = (datetime.strptime(selected_expiry, '%d-%b-%Y')-timedelta(days=10)).strftime("%d-%b-%Y")
#selectwindow = (candle['HistoricalDate'] > tenDayPriorexpiry) & (candle['HistoricalDate'] <= selected_expiry)
#selected_expiry, tenDayPriorexpiry
selected_expiry

'31-Mar-2011'

In [275]:
#window = candle.loc[selectwindow]
window = candle[candle['HistoricalDate'] <= selected_expiry].tail(20)
window_dailyret = window.dailyret
window

tcswindow = tcscandle[tcscandle['TIMESTAMP'] <= selected_expiry].tail(20)
tcswindow

,_id,CH_SYMBOL,CH_SERIES,CH_MARKET_TYPE,CH_TRADE_HIGH_PRICE,CH_TRADE_LOW_PRICE,CH_OPENING_PRICE,CH_CLOSING_PRICE,CH_LAST_TRADED_PRICE,CH_PREVIOUS_CLS_PRICE,...,CH_TIMESTAMP,TIMESTAMP,createdAt,updatedAt,__v,SLBMH_TOT_VAL,VWAP,mTIMESTAMP,CA,dailyret
279,641eeeaa1f65df0007b48845,TCS,EQ,N,1125.00,1094.45,1124.00,1108.25,1107.45,1135.55,...,2011-03-07,2011-03-06 18:30:00+00:00,2023-03-25T12:52:58.919Z,2023-03-25T12:52:58.919Z,0,None,1108.86,07-Mar-2011,NaN,-2.433492
280,641ef4dc4334450007b67d07,TCS,EQ,N,1128.80,1105.15,1105.15,1117.70,1120.85,1108.25,...,2011-03-08,2011-03-07 18:30:00+00:00,2023-03-25T13:19:24.457Z,2023-03-25T13:19:24.457Z,0,None,1119.79,08-Mar-2011,NaN,0.849081
281,641ef4633dfde30007cd949d,TCS,EQ,N,1138.00,1118.50,1122.55,1126.70,1119.55,1117.70,...,2011-03-09,2011-03-08 18:30:00+00:00,2023-03-25T13:17:23.767Z,2023-03-25T13:17:23.767Z,0,None,1126.81,09-Mar-2011,NaN,0.802000
282,641ef27ede5deb00074cbf46,TCS,EQ,N,1122.00,1100.00,1122.00,1108.55,1108.25,1126.70,...,2011-03-10,2011-03-09 18:30:00+00:00,2023-03-25T13:09:18.838Z,2023-03-25T13:09:18.838Z,0,None,1108.42,10-Mar-2011,NaN,-1.624015
283,641eef563d38840007c6fbce,TCS,EQ,N,1102.40,1063.30,1100.00,1077.05,1080.60,1108.55,...,2011-03-11,2011-03-10 18:30:00+00:00,2023-03-25T12:55:50.294Z,2023-03-25T12:55:50.294Z,0,None,1081.45,11-Mar-2011,NaN,-2.882703
284,641ef367ff5c300007063633,TCS,EQ,N,1102.00,1058.40,1071.00,1097.55,1095.00,1077.05,...,2011-03-14,2011-03-13 18:30:00+00:00,2023-03-25T13:13:11.151Z,2023-03-25T13:13:11.151Z,0,None,1079.84,14-Mar-2011,NaN,1.885460
285,641ef5c44334450007b68dbd,TCS,EQ,N,1095.45,1065.65,1075.00,1089.80,1092.85,1097.55,...,2011-03-15,2011-03-14 18:30:00+00:00,2023-03-25T13:23:16.978Z,2023-03-25T13:23:16.978Z,0,None,1084.96,15-Mar-2011,NaN,-0.708623
286,641eef1abe69c00007c427a7,TCS,EQ,N,1123.45,1091.15,1092.00,1114.85,1121.00,1089.80,...,2011-03-16,2011-03-15 18:30:00+00:00,2023-03-25T12:54:50.210Z,2023-03-25T12:54:50.210Z,0,None,1112.01,16-Mar-2011,NaN,2.272567
287,641eeec84334450007b66ae8,TCS,EQ,N,1118.90,1092.65,1105.00,1098.00,1099.10,1114.85,...,2011-03-17,2011-03-16 18:30:00+00:00,2023-03-25T12:53:28.617Z,2023-03-25T12:53:28.617Z,0,None,1101.73,17-Mar-2011,NaN,-1.522952
288,641eef425cc9450007c87c84,TCS,EQ,N,1109.00,1076.10,1093.50,1082.75,1081.00,1098.00,...,2011-03-18,2011-03-17 18:30:00+00:00,2023-03-25T12:55:30.651Z,2023-03-25T12:55:30.651Z,0,None,1083.07,18-Mar-2011,NaN,-1.398624
289,641eeff8d72c3f0007556ad8,TCS,EQ,N,1091.50,1066.50,1091.50,1070.80,1071.00,1082.75,...,2011-03-21,2011-03-20 18:30:00+00:00,2023-03-25T12:58:32.470Z,2023-03-25T12:58:32.470Z,0,None,1075.94,21-Mar-2011,NaN,-1.109807
290,641ef05c0125d800074790bc,TCS,EQ,N,1080.00,1063.00,1075.10,1069.50,1069.70,1070.80,...,2011-03-22,2011-03-21 18:30:00+00:00,2023-03-25T13:00:12.781Z,2023-03-25T13:00:12.781Z,0,None,1071.21,22-Mar-2011,NaN,-0.121478
237,641ef05c0125d800074790bc,TCS,EQ,N,1080.00,1063.00,1075.10,1069.50,1069.70,1070.80,...,2011-03-22,2011-03-21 18:30:00+00:00,2023-03-25T13:00:12.781Z,2023-03-25T13:00:12.781Z,0,None,1071.21,22-Mar-2011,NaN,0.000000
238,641ef11c341dfa0007d1a076,TCS,EQ,N,1071.00,1057.25,1071.00,1064.35,1063.95,1069.50,...,2011-03-23,2011-03-22 18:30:00+00:00,2023-03-25T13:03:24.844Z,2023-03-25T13:03:24.844Z,0,None,1064.21,23-Mar-2011,NaN,-0.482697
239,641eef75d72c3f0007555b0a,TCS,EQ,N,1095.55,1070.00,1071.00,1093.40,1090.95,1064.35,...,2011-03-24,2011-03-23 18:30:00+00:00,2023-03-25T12:56:21.215Z,2023-03-25T12:56:21.215Z,0,None,1085.97,24-Mar-2011,NaN,2.692782
240,641ef63e2c03d7000703a1a7,TCS,EQ,N,1128.50,1103.75,1116.85,1119.65,1117.80,1093.40,...,2011-03-25,2011-03-24 18:30:00+00:00,2023-03-25T13:25:18.097Z,2023-03-25T13:25:18.097Z,0,None,1116.61,25-Mar-2011,NaN,2.372403
241,641eed7b353f0e0007d33714,TCS,EQ,N,1126.70,1108.00,1123.85,1119.90,1125.00,1119.65,...,2011-03-28,2011-03-27 18:30:00+00:00,2023-03-25T12:47:55.486Z,2023-03-25T12:47:55.486Z,0,None,1117.85,28-Mar-2011,NaN,0.022326
242,641ef1311f65df0007b4a1f9,TCS,EQ,N,1151.90,1119.15,1120.00,1138.70,1139.15,1119.90,...,2011-03-29,2011-03-28 18:30:00+00:00,2023-03-25T13:03:45.866Z,2023-03-25T13:03:45.866Z,0,None,1139.82,29-Mar-2011,NaN,1.664787
243,641ef6ad6e7d520007c80999,TCS,EQ,N,1164.00,1144.90,1148.00,1151.95,1157.95,1138.70,...,2011-03-30,2011-03-29 18:30:00+00:00,2023-03-25T13:27:09.276Z,2023-03-25T13:27:09.276Z,0,None,1155.44,30-Mar-2011,NaN,1.156890
244,641ef37b5510ab0007ee7aba,TCS,EQ,N,1198.00,1152.00,1152.00,1183.90,1182.00,1151.95,...,2011-03-31,2011-03-30 18:30:00+00:00,2023-03-25T13:13:31.863Z,2023-03-25T13:13:31.863Z,0,None,1183.57,31-Mar-2011,NaN,2.735791

In [276]:
window_volatility_pct = window.dailyret.std()
ann_window_vol_pct = window_volatility_pct * math.sqrt(252)
#window_volatility_pct, ann_window_vol_pct

In [277]:
tcs_window_volatility_pct = tcswindow.dailyret.std()
tcs_ann_window_vol_pct = tcs_window_volatility_pct * math.sqrt(252)
selected_expiry, tcs_window_volatility_pct, tcs_ann_window_vol_pct

('31-Mar-2011', np.float64(1.7292388261512524), np.float64(27.45081534860082))

In [278]:
candle['Realized Volatility'] = candle['dailyret'].rolling(window=10).std() * np.sqrt(252)

In [273]:
window = candle[candle['HistoricalDate'] <= selected_expiry].tail(10)

In [264]:
window

,RequestNumber,Index Name,INDEX_NAME,HistoricalDate,OPEN,HIGH,LOW,CLOSE,dailyret,Realized Volatility
117,His63873467633285354900,,Nifty 50,2011-10-12,5011.20,5109.80,4997.65,5099.40,0.024828,0.278896
116,His63873467633285354900,,Nifty 50,2011-10-13,5130.80,5136.95,5067.65,5077.85,-0.004235,0.278255
115,His63873467633285354900,,Nifty 50,2011-10-14,5057.35,5141.40,5056.60,5132.30,0.010666,0.274968
114,His63873467633285354900,,Nifty 50,2011-10-17,5156.20,5160.20,5084.50,5118.25,-0.002741,0.260820
113,His63873467633285354900,,Nifty 50,2011-10-18,5049.45,5057.50,5011.05,5037.50,-0.015903,0.253339
112,His63873467633285354900,,Nifty 50,2011-10-19,5080.45,5148.05,5075.30,5139.15,0.019978,0.238322
111,His63873467633285354900,,Nifty 50,2011-10-20,5086.55,5099.00,5033.95,5091.90,-0.009237,0.246169
110,His63873467633285354900,,Nifty 50,2011-10-21,5106.60,5120.75,5037.95,5049.95,-0.008273,0.224541
109,His63873467633285354900,,Nifty 50,2011-10-24,5114.70,5145.65,5084.75,5098.35,0.009539,0.211525
108,His63873467633285354900,,Nifty 50,2011-10-25,5137.90,5211.00,5085.55,5191.60,0.018125,0.224386